/* Import Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@liveblocks/react-ui/styles.css';
@import '@liveblocks/react-lexical/styles.css';

@import '../styles/dark-theme.css';

/* Import Skeleton CSS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

/* Apply the font variable */
body {
  font-family: var(--font-sans), sans-serif;
}

/* Additional styling for Skeleton UI components */
h1, h2, h3, h4, h5, h6, p {
  font-family: var(--font-sans), sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family Options */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

/* Adaptive font styling based on theme */
.font-theme-default {
  font-family: 'Roboto', sans-serif;
}

.font-theme-cyberpunk {
  font-family: 'Press Start 2P', cursive;
}

.font-theme-modern {
  font-family: 'Montserrat', sans-serif;
}

.font-theme-cartoon {
  font-family: 'Comic Sans MS', sans-serif;
}

.font-theme-fun {
  font-family: 'Pacifico', cursive;
}

.font-theme-work {
  font-family: 'Arial', sans-serif;
}

/* Tailwind utility layer */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* Stream CSS overrides */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

/* Glassmorphism effects */
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* Clerk class overrides */
.cl-userButtonPopoverActionButtonIcon,
.cl-internal-wkkub3,
.cl-userButtonPopoverActionButton {
  color: white;
}

/* Animation */
.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }
  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
